$light: #ffffff;
$light-transparent: #ffffff6c;
$dark: #000000;
$dark-transparent: #0000002f;
$spanish_red: #DD0000;
$spanish_yellow: #F4903D;
$table-color: hsla(0, 0%, 0%, 0.1);
$grey: rgb(128, 128, 128);
$accent-color: #f3f3f3; 
$yellow: rgb(255, 240, 218);
$red: #ff0000;
